[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Asset meta backup files
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
Assets/Textures/TerrainTexturesPackFree/
# Unity generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb.meta
*.pdb.meta
*.mdb.meta
Library/
Temp/
Logs/
UserSettings/
.vs/

Assets/Textures/TerrainTexturesPackFree/TerrainTextures/GrassUV01.png
Assets/Textures/TerrainTexturesPackFree/TerrainTextures/GrassUV01_N.png
Assets/Textures/TerrainTexturesPackFree/TerrainTextures/GrassUV02.png
Assets/Textures/TerrainTexturesPackFree/TerrainTextures/GrassUV02_N.png
Assets/Textures/TerrainTexturesPackFree/DemoScene/
# OS files
.DS_Store
Thumbs.db